In [ ]:
import pandas as pd


colunas_cine= [
'NU_ANO_CENSO',
'NO_CURSO',
'CO_CURSO',
# 'NO_CINE_ROTULO',
# 'CO_CINE_ROTULO',
'CO_CINE_AREA_GERAL',
'NO_CINE_AREA_GERAL',
# 'CO_CINE_AREA_ESPECIFICA',
# 'NO_CINE_AREA_ESPECIFICA',
# 'CO_CINE_AREA_DETALHADA',
# 'NO_CINE_AREA_DETALHADA',
]


lista_dfs= []


for ano in range(2016,2025): # 2025 nao eh incluso entao vai ate 2024
 
    caminho_externo= f'../../../planilhas/externo/MICRODADOS_CADASTRO_CURSOS_{ano}.csv'


    df_externo_cine= pd.read_csv(
        caminho_externo,
        encoding='latin-1',
        sep=';',
        low_memory=False,
        decimal=',',
        usecols=colunas_cine)

    
    lista_dfs.append(df_externo_cine)

df_concat= pd.concat(lista_dfs)

display(df_concat) #type: ignore


caminho_salvar= '../../../planilhas/externo/df_mestre_cadastro_cursos_2016_2024.csv'

df_concat.to_csv(caminho_salvar,index=0,encoding='utf-8-sig')

,NU_ANO_CENSO,NO_CURSO,CO_CURSO,CO_CINE_AREA_GERAL,NO_CINE_AREA_GERAL
0,2016,ENGENHARIA DE ALIMENTOS,116776,7,"Engenharia, produção e construção"
1,2016,PEDAGOGIA,116782,1,Educação
2,2016,CIÊNCIAS BIOLÓGICAS,5000035,1,Educação
3,2016,CIÊNCIAS CONTÁBEIS,21267,4,"Negócios, administração e direito"
4,2016,PEDAGOGIA,99006,1,Educação
...,...,...,...,...,...
720344,2024,Gestão Pública,1268553,4,"Negócios, administração e direito"
720345,2024,Letras - Língua Portuguesa,1357716,1,Educação
720346,2024,Música,1190335,1,Educação
720347,2024,Pedagogia,96655,1,Educação
720348,2024,Química,100734,1,Educação